
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Open Sans', sans-serif;
    
}



a {
	color: currentColor;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
}




button {
	background-color: transparent;
	border: none;
	color: currentColor;
	/* font-size: inherit; */
}



/*inizio*/

.sidebar {
    display: flex;
    width: 200px;
    height: 1100px;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.964);
}


.img {
    padding-top: 10px;
    max-width: 100%;
}



.item-1 {
    padding-top: 20px;
    padding-left: 15px;
    color: white;
    flex-direction: column;
    flex-wrap: wrap;
}


.item-2 {
    padding-top: 20px;
    padding-left: 15px;
    color: white;
}



.item-3 {
    padding-top: 20px;
    padding-left: 15px;
    color: white;
}


.item-4 {
    padding-top: 20px;
    padding-left: 15px;
    color: white;
}

.item-5 {
    padding-top: 20px;
    padding-left: 15px;
    color: white;
}


 button {
    background-color: grey;
    border: 3px solid rgb(128, 128, 128);
    
}


.item-6 {
    padding-top: 20px;
    padding-left: 15px;
    color: white;
    margin-top: 20px;

}


.item-7 {
    padding-top: 560px;
    padding-left: 15px;
    color: white;
    margin-top: 20px;

}

.app-content {
    display: flex;
    flex-basis: auto;
    margin: 100%;
    flex-direction: row;
}